body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(236, 234, 234);
}

.bg1{
    background-color: rgb(221, 230, 240);
}



#title{
    background-color: rgb(175, 211, 245);
    padding: 10px;
    border-radius: 10px;
    color: rgb(56, 98, 146);
    font-weight: bold;

}

.align-by-css {
    text-align: right;
    margin-left: auto;
    margin-right: 10px;
}

.nav-bar-text-color1{
    color: rgb(56, 98, 146);
    font-weight: 600;

}

.nav-bar-text-color2{
    color: rgb(180, 178, 178);
    
}
.blog:hover{
    background-color:rgb(187, 238, 221);
    color: rgb(56, 98, 146);
    padding: 10px;
    font-weight: bold;
}




.section_filter ul {
    list-style: none;
    display: flex;
}

.filter_home {
    height: fit-content;
    color:rgb(109, 107, 107) ;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    margin-right: 0px;
    font-weight: 400;
    border-radius: 15px;
}

.filter_home:hover {
    color: rgb(56, 98, 146);
    font-weight: bold;
    background-color: rgb(221, 230, 240);
}

.category-name{
    height: fit-content;
    color:rgb(109, 107, 107) ;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    margin-right: 0px;
    font-weight: 400;
    border-radius: 15px;
}
.category:hover{
    color: rgb(56, 98, 146);
    font-weight: bold;
    background-color: rgb(221, 230, 240);
}

.author-image{
    height: 60px;
}

.main_table {
    width: 100%;
}

.td-right {
    margin-left: auto;
    text-align: right;
}

.td-see-more {
    text-align: center;
}
.new-container-div{
    height: 650px;
    background-color: rgb(181, 235, 181);
}
.see-more-button{
    background-color: rgb(175, 211, 245);
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: rgb(56, 98, 146);
    font-weight: bold;
}

.table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.td{
    border: 1px solid #e9caca;
    text-align: left;
    padding: 8px;
}



